





.deployable{

	position: relative;
	margin: 5px auto;

}

.deployable__title{

	background-color: #001d3d;
	color: #fff;
	font-size: 20px;
	padding: 5px;
}

.deployed{

	display: none;	

}

.deployable:hover .deployed{

	display: block;

}
.deployed__icon{

	width: 5%;
}

.deployed-text{

	font-size: 18px;
}

.deployed-content{

	display: inline-block;
	width: 35%;

}

select{

	width: 40vw;
	text-align: center;
}







